<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapping.IShopMapping">
    <!--开启二级缓存,使用Ehcache缓存框架-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <resultMap id="shopMap" type="com.example.demo.domain.Shop">
        <id column="id" property="id"></id>
        <result column="shop_id" property="shopID"></result>
        <result column="name" property="shopName"></result>
        <result column="address" property="shopAddress"></result>
        <result column="telephone" property="shopTelephone"></result>
        <result column="begin_office" property="beginOffice"></result>
        <result column="over_office" property="overOffice"></result>
        <result column="now_state" property="nowState"></result>
        <result column="public_message" property="publicMessage"></result>
        <result column="start_price" property="startPrice"></result>
        <result column="distribution_time" property="distributionTime"></result>
        <result column="appriase" property="appriase"></result>
        <result column="img" property="img"></result>
        <result column="type" property="type"></result>
    </resultMap>

    <resultMap id="shopBySUP" type="com.example.demo.domain.SupermarketCommodity">
        <id column="id" property="id"></id>
        <result column="com_id" property="comID"></result>
        <result column="name" property="name"></result>
        <result column="type_name" property="typeName"></result>
        <result column="type_id" property="typeID"></result>
        <result column="price" property="price"></result>
        <result column="img" property="img"></result>
        <result column="norms" property="norms"></result>
        <result column="now_state" property="nowState"></result>
    </resultMap>

    <select id="findAllShopByWork" resultMap="shopMap">
        select * from shop
    </select>

    <select id="findAllBySup" resultMap="shopBySUP">
        select * from supermarket_commodity
    </select>

    <insert id="saveShopSUP" >
        insert into supermarket_commodity values
        (
            null,#{comID},#{name},#{typeName},#{typeID},
            #{price},#{img},#{norms},#{nowState}
        )
    </insert>

    <update id="pullShopSUP">
        update supermarket_commodity set now_state = 0 where comID = #{comID}
    </update>
</mapper>
